:root {
    --dark-bg: #000011;
    --md-dark-bg: #1a1c28;
    --small-dark-bg: #242b42;
    --text-color: #fdfdfe;
    --violet: #9a86fd;
    /* #1fe5b7
    #1dc6e6
    #ff789e */
}

body::-webkit-scrollbar {
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    height: 100vh;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper-title {
    color: #ffffff;
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    position: relative;
    background-color: var(--dark-bg);
    animation: text 5s 1;
    height: 120px;
    width: 100vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-title span {
    color: #5a189a;
}

.wrapper-name {
    color: var(--dark-bg);
    font-size: 7rem;
    font-weight: 800;
    background: -webkit-linear-gradient( top left, orange, #1dc6e6, white, #ff789e);
    -webkit-background-clip: text;
    -webkit-text-stroke: 6px transparent;
}

@keyframes text {
    0% {
        margin-bottom: -150px;
        color: var(--dark-bg);
        letter-spacing: 0px;
    }
    30% {
        letter-spacing: 30px;
        margin-bottom: -150px;
    }
    85% {
        margin-bottom: 10px;
    }
}

.wrapper-image {
    position: absolute;
    top: 75px;
    right: 50px;
    width: 15%;
    animation: astronaut 5s linear infinite;
}

@keyframes astronaut {
    0% {
        top: 75px;
    }
    50% {
        top: 60px;
    }
    100% {
        top: 75px;
    }
}
/* INFORMATION */

.info {
    background-color: var(--md-dark-bg);
    display: flex;
    flex-direction: column;
}

.info-title {
    color: var(--text-color);
    font-size: 40px;
    margin: 60px 0 60px 100px;
    font-weight: 500;
}

.info-title span {
    border-radius: 50%;
    padding: 8px 16px;
    margin-right: 8px;
    background-image: linear-gradient( to top left, rgb(255, 166, 0), rgb(250, 113, 250));
    font-weight: 800;
}

.info-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.info-contact {
    color: var(--text-color);
    width: 40%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-contact__dest {
    line-height: 36px;
    font-size: 18px;
    font-weight: 200;
}

/* .info-contact__dest > p {
    margin-bottom: 20px;
} */

.mb-20 {
    margin-bottom: 20px;
}

.info-contact__dest p span {
    background-image: -webkit-linear-gradient(top left, cyan, rgb(23, 209, 209));
    font-weight: 300;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info-link {
    color: white;
    font-size: 18px;
    font-weight: 300;
    background-color: var(--md-dark-bg);
    margin-bottom: 20px;
    padding: 16px;
    width: 220px;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px var(--md-dark-bg) inset;
    text-decoration: none;
    text-align: center;
}

.info-main__img {
    width: 35vw;
    margin-right: 80px;
    border-radius: 10px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
}
/* EXPERIENCE */

.experience {
    background-color: var(--small-dark-bg);
    display: flex;
    flex-direction: column;
}

.experience-title {   
    color: var(--text-color);
    font-size: 40px;
    margin: 60px 0 60px 100px;
    font-weight: 500;
}

.experience-title span {
    border-radius: 50%;
    padding: 8px 16px;
    margin-right: 8px;
    background-image: linear-gradient( to top left, #060e79, #2aa7d8);
    font-weight: 800;
}

.experience-list {
    display: flex;
    flex-direction: column;
    position: relative;
} 
.experience-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.experience-info {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    background-color: rgba(91, 158, 179, 0.1);
    padding: 12px;
    border-radius: 8px;
}
.experience-info__time {
    background-image: linear-gradient(to bottom right, #132476, #2e86e6);
    box-shadow: 2px 2px #2e43ac;
    position: relative;
    padding: 14px 14px 14px 18px;
    color: white;
    border-radius: 8px;
    margin-right: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-info__time span {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.experience-info__addr {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.experience-item:nth-child(odd) {
    margin-left: 420px;
}

.experience-item:nth-child(even) {
    margin-right: 400px;
}

/* straight line */
.experience-list::before {
    content: "";
    width: 1px;
    height: calc(100% - 170px);
    background-color: black;
    position: absolute;
    top: 48px;
    left: 50%;
}

.experience-item:nth-child(odd)::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3d6ef7;
    top: calc(50% - 50px);
    left: calc(50% - 220px);
    box-shadow: 0 0 0 6px rgb(61 110 247 / 50%), 0 0 0 12px rgb(61 110 247 / 25%), 0 0 0 18px rgb(61 110 247 / 5%);
}

.experience-item:nth-child(even)::before {
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3d6ef7;
    top: calc(50% - 50px);
    right: calc(50% - 210px);
    box-shadow: 0 0 0 6px rgb(61 110 247 / 50%), 0 0 0 12px rgb(61 110 247 / 25%), 0 0 0 18px rgb(61 110 247 / 5%);
}


/* HOBBIES */
.footer {
    display: flex;
    background-color: var(--dark-bg);
    justify-content: center;
    flex-direction: column;
}

.hobbies {
    display: flex;
    justify-content: center;
}

.hobby-item img {
    /* background-color: var(--dark-bg); */
    padding: 16px;
    border: 2px solid transparent;
    align-items: center;
    margin: 48px 16px;
    width: 100px;
    background-image: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #00affc, #20e2b4);
    background-origin: border-box;
    box-shadow: 2px 1000px 1px var(--dark-bg) inset;
}

.thanks {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.thanks-img {
    background-image: linear-gradient(to right, #9525fb, #ff70a4);
    width: 100px;
    border-radius: 10px;
    margin-top: 52px;
    box-shadow: 2px 2px #e225fb;
}

.thanks-title {
    color: white;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    margin: 30px 0;
}

/* RESPONSIVE */
@media screen and (max-width: 1023px) {
    .wrapper {
        height: 70vh;
    }
    .wrapper-title {
        font-size: 2.5rem;
        height: 100px;
    }

    .wrapper-name {
        font-size: 5rem;
        margin-top: 10px;
        -webkit-text-stroke: 5px transparent;
    }

    .wrapper-image {
        width: 15%; 
        right: 30px;    
    }

    @keyframes text {
        0% {
            margin-bottom: -120px;
            color: var(--dark-bg);
            letter-spacing: 0px;
        }
        30% {
            letter-spacing: 30px;
            margin-bottom: -120px;
        }
        85% {
            margin-bottom: 10px;
        }
    }

    .info-title {
        margin-bottom: 20px;
        margin-left: 28px;
        font-size: 32px;
    }

    .info-title span {
        margin-right: 4px;
        padding: 6px 12px;
    }

    .info-main {
        flex-direction: column-reverse;
    }

    .info-main__img {
        width: 80vw;
        margin: 20px auto;
    }

    .info-contact {
        margin: 0 28px;
    }

    .info-contact__dest {
        width: 95vw;
    }

    .info-link {
        margin-top: 16px;
    }

    /* EXPERIENCE */
    .experience-title{
        margin-bottom: 20px;
        margin-left: 28px;
        font-size: 32px;
    }

    .experience-title span {
        margin-right: 4px;
        padding: 6px 12px;
    } 

    .experience-info__time {
        padding: 10px 10px 10px 14px;
    }
    .experience-info__time span {
        font-size: 16px;
        line-height: 16px;
    }

    .experience-info__addr{
        font-size: 24px;
    }

    .experience-item:nth-child(odd) {
        margin-left: 354px;
    }
    
    .experience-item:nth-child(even) {
        margin-right: 340px;
    }

    .experience-item:nth-child(odd)::before {  
        left: calc(50% - 186px);
    }
    
    .experience-item:nth-child(even)::before {
        right: calc(50% - 180px);
    }
    
}

@media screen and (max-width: 767px) {
    .wrapper {
        height: 50vh;
    }
    .wrapper-title {
        font-size: 2rem;
    }

    .wrapper-name {
        font-size: 3.4rem;
        margin-top: 10px;
        -webkit-text-stroke: 4px transparent;
    }

    .wrapper-image {
        right: 20px;   
    }

    @keyframes text {
        0% {
            margin-bottom: -120px;
            color: var(--dark-bg);
            letter-spacing: 0px;
        }
        30% {
            letter-spacing: 30px;
            margin-bottom: -120px;
        }
        85% {
            margin-bottom: 10px;
        }
    }

    .info-title {
        font-size: 28px;
    }

    .info-title span {
        margin-right: 2px;
        padding: 4px 8px;
    }

     /* EXPERIENCE */
    .experience-info__time span {
        font-size: 14px;
        line-height: 14px;
        
    }
    .experience-info__addr{
        font-size: 14px;
    }

    .experience-title{
        font-size: 28px;
    }

    .experience-title span {
        margin-right: 2px;
        padding: 4px 8px;
    } 

    .experience-item:nth-child(odd) {
        margin-left: 270px;
    }
    
    .experience-item:nth-child(even) {
        margin-right: 260px;
    }

    .experience-item:nth-child(odd)::before {  
        left: calc(50% - 144px);
    }
    
    .experience-item:nth-child(even)::before {
        right: calc(50% - 141px);
    }


    .hobby-item img {
        padding: 8px;
        margin: 24px 8px;
        width: 80px;
    }

    .thanks-img {
        width: 80px;
        margin-top: 52px;
    }

    .thanks-title {
        font-size: 20px;
        font-weight: 600;
        margin: 30px 0;
    }

}

@media screen and (max-width: 479px) {
    .wrapper {
        height: 30vh;
    }
    .wrapper-title {
        font-size: 1.8rem;
        height: 80px;
        letter-spacing: 2px; 
    }

    .wrapper-name {
        font-size: 2.4rem;
        margin-top: 10px;
        -webkit-text-stroke: 3px transparent;
    }

    .wrapper-image {
        right: 10px;
        width: 16%;     
    }

    @keyframes astronaut {
        0% {
            top: 10px;
        }
        50% {
            top: 18px;
        }
        100% {
            top: 10px;
        }
    }

    @keyframes text {
        0% {
            margin-bottom: -80px;
            color: var(--dark-bg);
            letter-spacing: 0px;
        }
        30% {
            letter-spacing: 16px;
            margin-bottom: -80px;
        }
        85% {
            margin-bottom: 10px;
        }
    }

    .info-title, .experience-title {
        margin-bottom: 12px;
        margin-left: 10px;
        font-size: 28px;
    }

    .info-contact {
        margin: 0 10px;
    }

    .experience-info__time {
        padding: 6px 6px 6px 8px;
    }
    .experience-info__time span {
        font-size: 12px;
        line-height: 12px;
    }
    .experience-info__addr{
        font-size: 12px;
    }

    .experience-title{
        font-size: 28px;
    }

    .experience-title span {
        margin-right: 2px;
        padding: 4px 8px;
    } 

    .experience-item:nth-child(odd) {
        margin-left: 230px;
    }
    
    .experience-item:nth-child(even) {
        margin-right: 220px;
    }

    .experience-item:nth-child(odd)::before {  
        left: calc(50% - 125px);
    }
    
    .experience-item:nth-child(even)::before {
        right: calc(50% - 120px);
    }

    .hobby-item img {
        padding: 4px;
        margin: 24px 8px;
        width: 60px;
    }

    .thanks-img {
        width: 60px;
        margin-top: 20px;
    }

    .thanks-title {
        font-size: 16px;     
        font-weight: 600;
        margin: 10px 0;
    }
}

@media screen and (max-width: 399px) {
    .experience-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .experience-info__time {
        margin-bottom: 10px;
    }

    .experience-info__addr {
        text-align: center;
    }

    .experience-item:nth-child(odd) {
        margin-left: 220px;
    }
    
    .experience-item:nth-child(even) {
        margin-right: 220px;
    }

    .experience-item:nth-child(odd)::before {  
        left: calc(50% - 120px);
    }
    
    .experience-item:nth-child(even)::before {
        right: calc(50% - 120px);
    }

    .hobby-item img {
        margin: 24px 8px;
        width: 54px;
    }

    .thanks-img {     
        width: 54px;     
    }

}

@media screen and (max-width: 329px) {
    .experience-item:nth-child(odd) {
        margin-left: 200px;
    }
    
    .experience-item:nth-child(even) {
        margin-right: 200px;
    }

    .experience-item:nth-child(odd)::before {  
        left: calc(50% - 110px);
    }
    
    .experience-item:nth-child(even)::before {
        right: calc(50% - 110px);
    }

    .hobby-item img {
        margin: 24px 8px;
        width: 46px;
    }

    .thanks-img {     
        width: 46px;     
    }

    .thanks-title {
        font-size: 14px;     
        font-weight: 500;
    }
}